@use '../abstract/colors'
@use '../abstract/numbers'
@use '../abstract/typography'
@use '../abstract/mixins'
    
.bar
    @include mixins.flex
    padding: numbers.$space-12 numbers.$space-8
    align-self: stretch
    background: colors.$static-white

.bar-content
    @include mixins.flex($justify-content: space-between)
    max-width: 1276px
    width: 100%
    gap: numbers.$space-12
    align-self: stretch
    
.header
    @include mixins.flex
    padding: numbers.$space-8 numbers.$space-20
    gap: numbers.$space-8

//navigation
.navigation-container
    @include mixins.flex

// burger-button
.navigation-container__buttton
    display: none

//resizing
@media screen and (width <= 768px)
    .navigation
        display: none !important
        
        &--open
            display: flex !important
            position: absolute
            z-index: 3
            flex-direction: column
            top: 64px
            right: 0
            background: white
            width: 100%
            height: calc(100% - 64px)

        .navigation__link
            @include typography.action-large
        
    .navigation-container__buttton
        display: block !important
    
