@use '../abstract/colors'
@use '../abstract/numbers'
@use '../abstract/mixins'

%button
    transition-duration: numbers.$time-200
    @include mixins.flex
    padding: numbers.$space-0
    gap: numbers.$space-0
    border-radius: 20px
    text-align: center
        
    @media (hover: hover)
        &:hover
            cursor: pointer

.primary-button
    @extend %button
    padding: numbers.$space-20 numbers.$space-32
    background: colors.$dark
    color: colors.$static-white
        
    @media (hover: hover)
        &:hover
            color: colors.$dark
            background: colors.$static-white

.arrow-button
    @extend %button
    width: 56px
    height: 56px
    border: 1px solid colors.$static-white
    color: colors.$static-white

    &--left img
        rotate: 180deg

    &[disabled]
        border: 1px solid colors.$static-white-40
        color: colors.$static-white-40

    @media (hover: hover)
        &:hover:not([disabled])
            border: 1px solid colors.$static-white
            background: colors.$static-white

            img
                filter: colors.$filter-primary