@use '../abstract/colors'
@use '../abstract/numbers'
    
.gift-card
    display: flex
    width: 310px
    height: 342px
    padding: numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-0
    border-radius: 20px
    background: colors.$content-background

    @media (hover: hover)
        &:hover
            cursor: pointer

.gift-card__image
    display: flex
    width: 310px
    height: 230px
    border-radius: 20px 20px 0 0
    padding: numbers.$space-0
    flex-direction: column
    justify-content: center
    align-items: center
    gap: numbers.$space-0
    flex-shrink: 0
    background-size: cover
    background-repeat: no-repeat

.gift-card__description
    display: flex
    padding: numbers.$space-20
    flex-direction: column
    align-items: flex-start
    gap: numbers.$space-8
    flex: 1 0 0
    align-self: stretch
    border-radius: 20px
    background: colors.$static-white

    h4
        color: colors.$tag-purple

    h3
        overflow: hidden
        color: colors.$dark
        text-overflow: ellipsis
        transition-duration: numbers.$time-200

    &--for-health
            h4
                color: colors.$tag-green

    &--for-harmony
            h4
                color: colors.$tag-pink

    @media (hover: hover)
            .gift-card:hover & h3
                color: colors.$primary
