@use '../abstract/colors'
@use '../abstract/numbers'
@use '../abstract/mixins'

.tabs,
.navigation
    @include mixins.flex
    padding: numbers.$space-0
    gap: numbers.$space-8         

.tabs__item,
.navigation__link
    @include mixins.flex
    padding: numbers.$space-12 numbers.$space-20
    gap: numbers.$space-0
    border-radius: 12px
    transition-duration: numbers.$time-200
    text-align: center

@mixin tab-active($background, $color)
    &--selected
        pointer-events: none
        cursor: default
        background: $background
        color: $color

    @media (hover: hover)
        &:hover
            cursor: pointer
            background: $background
            color: $color   

.tabs__item
    @include tab-active(colors.$static-white-20, colors.$static-white)

.navigation__link
    @include tab-active(colors.$primary-10, colors.$primary)