@use 'abstract/colors'
@use 'abstract/numbers'
    
.contacts-section
    display: flex
    padding: numbers.$space-60 numbers.$space-8
    flex-direction: column
    align-items: center
    gap: numbers.$space-0
    align-self: stretch
    background: colors.$static-white

.contacts-content
    display: flex
    max-width: 1276px
    width: 100%
    padding: numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-60
    align-self: stretch
    margin: auto

.contacts
    display: flex
    padding: numbers.$space-0
    justify-content: center
    gap: numbers.$space-12
    align-self: stretch

.contact-card
    display: flex
    padding: numbers.$space-20
    flex-direction: column
    justify-content: center
    align-items: center
    gap: numbers.$space-12
    flex: 1 0 0
    border-radius: 20px
    background: colors.$content-background
    
    img
        width: 80px
        height: 80px
    
    .action-large, h3
        transition-duration: 0.2s
        align-self: stretch
        color: colors.$dark
        text-align: center

@media (hover: hover)
    .contact-card:hover
        cursor: pointer

        .action-large, h3
            color: colors.$primary

@media screen and (width <= 1060px)
    .contacts
        flex-direction: column

.socials
    display: flex
    padding: numbers.$space-0
    justify-content: center
    align-items: flex-start
    gap: numbers.$space-12

.socials__social-container
    display: flex
    padding: numbers.$space-8
    justify-content: center
    align-items: center
    gap: numbers.$space-0

    img
        transition-duration: 0.2s
        width: 24px
        height: 24px

@media (hover: hover)
    .socials__social-container:hover
        cursor: pointer

        img
            filter: brightness(0) saturate(100%) invert(43%) sepia(27%) saturate(1871%) hue-rotate(317deg) brightness(95%) contrast(118%)

.social-media
    display: flex
    padding: numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-12
    align-self: stretch

.social-media .caption
    transition-duration: 0.2s

@media (hover: hover)
    .social-media .caption:hover
        cursor: pointer
        filter: brightness(0) saturate(100%) invert(43%) sepia(27%) saturate(1871%) hue-rotate(317deg) brightness(95%) contrast(118%)