// variables
@use 'abstract/colors'
@use 'abstract/numbers'

// gifts page
// hero section, cta section
.all-gifts-section
    background-image:  url('../assets/bg-garland.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: top
    max-width: calc(1440px - 8px * 2)
    margin: auto

.all-gifts-content
    display: flex
    max-width: 1276px
    width: 100%
    padding: numbers.$space-0
    gap: numbers.$space-20
    align-self: stretch
    flex-direction: column
    align-items: center
    align-content: center

.all-gifts-title
    display: flex
    max-width: 426px
    padding: numbers.$space-0
    flex-direction: column
    justify-content: center
    align-items: center
    gap: numbers.$space-12
    color: colors.$static-white
    text-align: center

.all-gifts-tabs
    color: colors.$static-white

    @media screen and (width <= 601px)
        &
            gap: numbers.$space-0

        .tabs__item
            padding: numbers.$space-12 numbers.$space-8
            gap: numbers.$space-0 

.all-gifts-container
    display: flex
    padding: numbers.$space-0
    justify-content: center
    align-items: flex-start
    align-content: flex-start
    gap: numbers.$space-12
    align-self: stretch
    flex-wrap: wrap