// variables
@use 'abstract/colors'
@use 'abstract/numbers'

.main__section
    background-image:  url('../assets/bg-snow.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    max-width: calc(1440px - 8px * 2)
    margin: auto

// home page
// hero section, cta section
.hero-section, .cta-section
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    max-width: calc(1440px - 8px * 2)
    margin: auto
    background-image:  url('../assets/bg-ball.png'), url('../assets/bg-snow.png')

.cta-section
    background-image:  url('../assets/bg-forest.png'), url('../assets/bg-snow.png')

.cta-content-container
    display: flex
    max-width: 1276px
    padding: numbers.$space-60 numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-0
    align-self: stretch

.hero-content, .cta-content
    display: flex
    max-width: 426px
    padding: numbers.$space-60 numbers.$space-0
    flex-direction: column
    justify-content: center
    align-items: center
    gap: numbers.$space-12
    align-self: stretch
    text-align: center
    color: colors.$static-white

.cta-content
    gap: numbers.$space-20
    
.cta-content__timer-container
    display: flex
    padding: numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-8
    align-self: stretch

.timer
    display: flex
    padding: numbers.$space-8 numbers.$space-12 numbers.$space-12 numbers.$space-12
    align-items: center
    gap: numbers.$space-0
    border-radius: 20px
    background: colors.$static-white-40

    .timer__value
        display: flex
        width: 80px
        padding: numbers.$space-0
        flex-direction: column
        align-items: center
        gap: numbers.$space-0

    .timer__separator
        width: 1px
        height: 20px
        background: colors.$static-white-40

// about section
.about-content
    display: grid
    grid-template-columns: 50% 50%
    max-width: 1276px
    padding: numbers.$space-0
    align-items: center
    gap: numbers.$space-0
    flex: 1 0 0
    border-radius: 20px
    background: colors.$static-white

    @media screen and (width <= 601px)
        &
            height: 880px
            grid-template-columns: unset
            grid-template-rows: 1fr 528px

.about-description-container
    display: flex
    padding: numbers.$space-0 numbers.$space-60
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: numbers.$space-0
    flex: 1 0 0
    align-self: stretch

    @media screen and (width <= 601px)
        &
            padding: numbers.$space-0 numbers.$space-20

.about-description
    display: flex
    max-width: 426px
    padding: numbers.$space-60 numbers.$space-0
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: numbers.$space-20
    align-self: stretch

    &__caption
        color: colors.$primary

.about-image-container
    display: flex

.about-image
    border-radius: 20px
    width: 100%
    object-fit: cover
    height: 528px

// slider section, best gifts section
.slider-content, .best-content
    display: flex
    width: 100%
    padding: numbers.$space-0
    flex-direction: column
    gap: numbers.$space-20
    align-self: stretch
    color: colors.$static-white

.best-content
    max-width: 1276px

.slider-description, .best-description
    display: flex
    padding: numbers.$space-0
    flex-direction: column
    align-items: center
    gap: numbers.$space-12
    align-self: stretch

.slider-row
    position: relative
    display: flex
    justify-content: center
    width: calc(100% + 8px)
    max-width: calc(1440px - (1440px - 1276px) / 2)
    left: 8px
    align-self: flex-end

.slider
    display: flex
    padding: numbers.$space-0
    align-items: center
    gap: 24px
    overflow: hidden

.slider-image-container    
    display: flex
    width: 200px
    height: 200px
    padding: numbers.$space-0
    flex-direction: column
    justify-content: center
    align-items: center
    gap: numbers.$space-0

.slider-image
    width: 200px
    height: 200px
    border-radius: 20px

.slider-arrows
    display: flex
    padding: numbers.$space-0
    justify-content: flex-end
    align-items: center
    gap: numbers.$space-20
    max-width: 1276px
    align-self: center
    width: 100%

// best gifts section
.best-gifts
    display: flex
    padding: numbers.$space-0
    justify-content: center
    align-items: flex-start
    align-content: flex-start
    gap: numbers.$space-12
    align-self: stretch
    flex-wrap: wrap