.main
    border-radius: 20px 20px 0px 0px
    background-color: var(--Primary, #FF4646)

.main__section 
    display: flex
    padding: var(--Space-60, 60px) var(--Space-8, 8px)
    gap: var(--Space-0, 0px)
    justify-content: center
    align-items: center

// Home page
// Hero section
.main__section#hero
    background-image:  url('../assets/bg-ball.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.hero-section__content
    display: flex
    max-width: 426px
    padding: var(--Space-60, 60px) var(--Space-0, 0px)
    flex-direction: column
    justify-content: center
    align-items: center
    gap: var(--Space-12, 12px)
    align-self: stretch
    text-align: center