@use 'abstract/colors'
@use 'abstract/numbers'
    
.navigation,
.tabs
    display: flex
    padding: numbers.$space-0
    align-items: center
    gap: numbers.$space-8
    
.tabs__item,
.navigation__link
    display: flex
    padding: numbers.$space-12 numbers.$space-20
    justify-content: center
    align-items: center
    gap: numbers.$space-0
    border-radius: 12px
    transition-duration: 0.2s

.tabs__item:hover,    
.tabs__item--selected
    background: colors.$static-white-20
    color: colors.$static-white
    
.navigation__link:hover,
.navigation__link--selected
    background: colors.$primary-10
    color: colors.$primary

.tabs__item:hover,   
.navigation__link:hover
    cursor: pointer

.tabs__item--selected,
.navigation__link--selected
    pointer-events: none
    cursor: default