.navigation,
.tabs
    display: flex
    padding: var(--Space-0, 0px)
    align-items: center
    gap: var(--Space-8, 8px)
    
.tabs__item,
.navigation__link
    display: flex
    padding: var(--Space-12, 12px) var(--Space-20, 20px)
    justify-content: center
    align-items: center
    gap: var(--Space-0, 0px)
    border-radius: 12px
    transition-duration: 0.2s

.tabs__item:hover,    
.tabs__item--selected
    background: var(--Static-White-20, rgba(255, 255, 255, 0.20))
    color: var(--Static-White, #FFF)
    
.navigation__link:hover,
.navigation__link--selected
    background: var(--Primary-10, rgba(255, 70, 70, 0.10))
    color: var(--Primary, #FF4646)

.tabs__item:hover,   
.navigation__link:hover
    cursor: pointer

.tabs__item--selected,
.navigation__link--selected
    pointer-events: none
    cursor: default