
    
// Header 1
h1
    font-family: Montserrat
    font-size: 32px
    font-style: normal
    font-weight: 600
    line-height: 150% // 48px
    letter-spacing: 5.76px
    text-transform: uppercase

// Header 2
h2
    font-family: Montserrat
    font-size: 24px
    font-style: normal
    font-weight: 600
    line-height: 152% // 36.48px
    letter-spacing: 3.84px
    text-transform: uppercase

// Header 3
h3
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 152% // 24.32px
    letter-spacing: 1.28px
    text-transform: uppercase

// Header 4
h4
    font-family: Montserrat
    font-size: 12px
    font-style: normal
    font-weight: 600
    line-height: 130% // 15.6px
    letter-spacing: 0.6px
    text-transform: uppercase

// Paragraph
.paragraph
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 148% // 23.68px

// Action Large
.action-large
    font-family: Montserrat
    font-size: 24px
    font-style: normal
    font-weight: 600
    line-height: 152% // 36.48px
    letter-spacing: 3.84px
    text-transform: uppercase

// Action Small
.action-small
    font-family: Montserrat
    font-size: 12px
    font-style: normal
    font-weight: 600
    line-height: 130% // 15.6px
    letter-spacing: 0.6px
    text-transform: uppercase

// Caption
.caption
    font-family: Allura
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: 100% // 24px
    letter-spacing: 1.2px

// Slider Text
.slider-text
    font-family: Montserrat
    font-size: 80px
    font-style: normal
    font-weight: 600
    line-height: normal
    text-transform: uppercase